<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pokemon.nome %></title>
    <link rel="stylesheet" href="/css/pokemon.css">
    <link rel="shortcut icon" href="/images/pokebola-logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="cabecalho">
            <a href="/">
                <img src="/images/pokemon-logo.svg" alt="Logo Pokemon" class="logo">
            </a>

            <nav>
                <p><a href="/">Início</a></p>
                <p><a href="/pokedex">Pokedex</a></p>
                <p><a href="/treinadores">Treinadores</a></p>
            </nav>
        </div>
    </header>

    <div class="pokemon-details">
        <h1><%= pokemon.nome %></h1>
        <h4>Tipo: <%= pokemon.tipo %></h4>
        <h4>Peso: <%= pokemon.peso %> kg</h4>
        <h4>Altura: <%= pokemon.altura %> m</h4>
        <h4>Nivel de Poder: <%= pokemon.nivelPoder %></h4>
        <a href="/pokedex">Voltar à Pokedex</a>
    </div>
</body>
</html>
